.navbar-fixed{
	top: 0 !important;
	position: fixed;
}
.container-header .logo {
    margin-top: 5px;
    padding-top: 5px;
}
.logo a{
	    color: red;
    font-size: 2em;
    padding: 5px;
    margin-top: 2px;
    border: 1px solid;
}
.container-restaurant-home {
	padding-top: 65px;
}
.tabs .tab a {
	height: auto;
}